/* 覆盖antd的样式 */

// 卡片
.ant-card {
  box-shadow: @card-shadow;
  border: none;
  border-radius: 0;

  .ant-card-body {
    padding: 10px 20px;
  }
}

// 列表
.ant-list .ant-list-item {
  padding-left: 0;
  padding-right: 0;
}

// 间隙
.ant-space {
  display: flex;
}
